<div class="footer">
    <div class="block1">
        <div class="nombre">
            <span>Nombre</span>
            <p>Carrito</p>
        </div>
        <div class="cuenta">
            <span>Mi cuenta</span>
            <p>Ayuda</p>
            <p>EN</p>
        </div>
        <div class="icons">
            <img src="./../images/twitter.png">
            <img src="./../images/instagram.png">
            <img src="./../images/facebook.png">
        </div>
    </div>
    <div class="block2">
        <div class="terminos">
            <p>Términos y Condiciones</p>
            <p>Política de privacidad</p>
            <p>© 2020. Todos los derechos reservados</p>
        </div>
        <div class="cookies">
            <p>Configuración de cookies</p>
            <p>Gestionar datos</p>
        </div>
    </div>
</div>