<div class="header">
    <div class="parte1">
        <div class="rss">
            <img src="./../images/twitter.png">
            <img src="./../images/instagram.png">
            <img src="./../images/facebook.png">
        </div>
        <div class="ajustes">
            <a href="#">Mi cuenta</a>
            <a href="#">Ayuda</a>
            <a href="#">EN</a>
        </div>
    </div>
    <div class="parte2">
        <div class="adidas">
            <a href="/index"> <img src="./../images/Adidas-logo.png"> </a>
        </div>
        <div class="personal">
            <a href="/index" >Inicio</a>
            <a href="/producto/">Zapatilla OZWEEGO</a>
            <a href="/carrito/"> <img src="./../images/carrito.png"> </a>

        </div>
    </div>
</div>
<div class="headermobile">
    <div class="headermobile-nav">
        <a href="/index"> <img src="./../images/Adidas-logo.png"> </a>
        <div>
            <button class="hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
            <a href="/carrito/"> <img src="./../images/carrito.png"> </a>
        </div>
    </div>
    <div class="despl">
            <a href="/producto/">Zapatilla OZWEEGO</a>
            <p>Mi cuenta</p>
            <p>Ayuda</p>
            <p>En</p>
        
        <div class="rss">
            <img src="./../images/twitter.png">
            <img src="./../images/instagram.png">
            <img src="./../images/facebook.png">
        </div>
    </div>
</div>