---
layout: layouts/base.njk
title: Carrito
---
<div class="head">
    <h1>{{title}}</h1>
</div>
<div class="etiqueta">
    <div class="eti1">
        <img src="./../images/principal.jpg">
    </div>
    <div class="eti2">
        <h2>Zapatilla OZWEEGO</h2>
        <p>Talla: 38</p>
        <p>Cabtidad: 1</p>
        <p>Precio: 120€</p>
    </div>
    <div class="duo">
        <div class="pedido">
            <h2>Resumen del pedido</h2>
            <div class="gastos">
                <div class="lin1">
                    <p>1 producto</p>
                    <p>Gastos de envío</p>
                    <p>IVA incluido</p>
                    <h2>TOTAL</h2>
                </div>
                <div class="lin2">
                    <p>120€</p>
                    <p>0€</p>
                    <p>20,83€</p>
                    <h2>120€</h2>
                </div>
            </div>
        </div>
        <div class="caja">
            <div class="codes">
                <div class="rell">
                    <input type="text" name="codigo" value="Añadir un mensaje de regalo"/>
                    <input type="text" name="codigo" value="Añadir un código promocional"/>
                </div>
                <div class="buts">
                    <div class="but1">
                        <a href="#">Aplicar</a>
                    </div>
                    <div class="but1">
                        <a href="#">Aplicar</a>
                    </div>
                </div>
            </div>
            <div class="pag">
                <a href="/pago/">Pagar</a>
            </div>
        </div>       
    </div>
</div>

