---
layout: layouts/base.njk
title: Envío
---
<div class="todo">
    <div class="cabeza">
        <h1>{{envío}}</h1>
        <h1>Envío</h1>
        <p>Inicia seción y completa tu pedido más rápido.</p>
    </div>
    <div class="fo">
        <div class="form1">
            <div class="pt1">
                <h1>Opciones de entrega</h1>
                <div class="opt">
                    <a href="/pago/">ENVIAR</a>
                    <a href="/envio/">RECOGER</a>
                </div>
            </div>
            <div class="coll">
                <h2>Selecciona una tienda o ubicación de Click & Collect</h2>
                <p>Encuentra un punto de recogida cercano.</p>
            </div>
            <div class="codes">
                <div class="rell1">
                    <input type="text" name="codigo" value="Código postal"/>
                </div>
                <div class="buts">
                    <div class="but1">
                        <a href="#">Aplicar</a>
                    </div>
                </div>
            </div>
            <div class="pagb">
                <a href="/envio/">Pagar</a>
            </div>
        </div>
        <div class="fi">
            <h4>Resumen del pedido</h4>
            <div class="dat">
                <img src="./../images/principal.jpg" alt="">
                <div class="dat2">
                    <h2>Zapatillas <br>OZWEEGO</h2>
                    <div class="dat3">
                        <p>Talla: 38</p>
                        <p>Cantidad: 1</p>
                        <p>Precio: 120€</p>
                    </div>
                </div>
            </div>
            <div class="total">
                <div class="hiz">
                    <p>Subtotal</p>
                    <p>Gastos de envío</p>
                    <p>IVA incluido</p>
                    <span>TOTAL</span>
                </div>
                <div class="dere">
                    <p>120€</p>
                    <p>0€</p>
                    <p>20,83</p>
                    <span>120€</span>
                </div>
            </div>
        </div>
    </div>
        
</div>
