<div class="formres">
    <div class="form1">
        <form action="" class="">
            <div class="name">
                <input type="text" name="nombre" value="Nombre*"/>
                <input type="text" name="nombre" value="Apellidos*"/>
            </div>
            <div class="adress">
                <input type="text" name="nombre" value="Calle y número*"/>
                <input type="text" name="nombre" value="Dirección adicional"/>
            </div>
            <div class="direc">
                <input type="text" name="nombre" value="Ciudad"/>
                <input type="text" name="nombre" value="Código postal"/>
                <select name="select">
                    <option value="1" >España</option>
                    <option value="2">Andorra</option>
                    <option value="3">Portugal</option>
                    <option value="4">Tayikistán</option>
                    <option value="5">Albacete</option>
                </select>
            </div>
            <div class="adress">
                <input type="text" name="nombre" value="Correo electrónico*"/>
                <input type="text" name="nombre" value="Número de teléfono*"/>
            </div>
        </form>
    </div>
</div>